body{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.zhu{
    width: 100%;
    background-color: dimgrey;
}
.zhu .tou1{
    margin:0 auto;
    width: 100%;
    height: 100px;
    background-color: #000;
}
.zhu .ti1{
    margin:0 auto;
    width: 100%;
}
.zhu .tou1 .tou{
    height: 100px;
    width: 85%;
    margin: 0 auto;
}
.zhu .tou1 .tou .biao{
    float: left;
    width: 30%;
    margin-top: 35px;
}
.zhu .tou1 .tou .nei{
    float: left;
    width: 5%;
    min-width: 50px;
    text-align: center;
    height: 100%;
    line-height:100px;
}
.zhu .tou1 .tou span{
    color: #fff;
    font-size: 80%;
}
.zhu .tou1 .tou .neixuanzhong{
    float: left;
    width: 5%;
    min-width: 50px;
    text-align: center;
    height: 100%;
    line-height:100px;
    background-color: blue;
}
.zhu .tou1 .tou .biao .weng{
    height: 30px;
    width: 80%;
    background-color: cadetblue;
    border: 0px;
}
.zhu .ti1 .ti{
    width: 85%;
    margin:0 auto;
    padding-top: 20px;
}
.zhu .ti1 .ti .dizhi{ 
    width: 100%;
    margin:0 auto;
}
.zhu .ti1 .ti .neirong{
    width: 100%;
    min-height: 800px;
    background-color: #fff;
    margin-top: 20px;
}
.zhu .ti1 .ti .neirong .neiti{
    padding-top: 50px;
    padding-left: 20px;
}
.zhu .ti1 .ti .wei{
    height: 100px;
    margin:50px auto 0 auto;
    width: 100%;
    text-align: center;
}