body{
    margin: 0;
    padding: 0;
    font-size: 30px;
}
.zhu{
    width: 100%;
    margin: 0 auto;
}
.zhu .tou1{
    margin:20px auto 0 auto;
    width: 25%;
    min-height: 800px;
    background-color: #000;
    float: left;
}
.zhu .ti1{
    margin:20px auto 0 auto;
    width: 75%;
    min-height: 800px;
    background-color: dimgrey;
    float: left;
}
.zhu .tou1 .tou{
    min-height: 90%;
    width: 100%;
    margin: 5% auto;
}
.zhu .tou1 .tou .biao{
    min-height: 50px;
    width: 80%;
    margin:10% auto;
}
.zhu .tou1 .tou .biao .weng{
    height:50px;
    width: 100%;
    font-size: 40px;
    background-color: cadetblue;
    border: 0px;
}
.zhu .tou1 .tou .nei{
    padding: 0 10%;
    margin: 0 auto;
    width: 80%;
    height: 80px;
}
.zhu .tou1 .tou span{
    line-height:80px;
    color: #fff;
    text-align: center;
}
.zhu .tou1 .tou .nei1{
    padding: 0 10%;
    margin: 0 auto;
    width: 80%;
    height: 80px;
    background-color: blue;
}
.zhu .ti1 .ti{
    min-height: 600px;
    width: 100%;
    margin:0 auto;
}
.zhu .ti1 .ti .dizhi{ 
    min-height: 100px;
    width: 100%;
    font-size: 20px;
    background-color:    #fff;
}
.zhu .ti1 .ti .dizhi img{
    margin: 20px 0 0 60px;
    height: 60px;
}
.zhu .ti1 .ti .dizhi span{
    text-align: center;
    padding-left: 50px;
    line-height:100px;
}
.zhu .ti1 .ti .neirong{
    width: 90%;
    min-height: 560px;
    margin:70px 5%;
    background-color: #fff;
}
.zhu .ti1 .ti .neirong .neiti{
    padding-top: 50px;
    padding-left: 20px;
}