body{
    margin: 0;
}
.we{
    display: flex;
    width: 100%;
    height: 80px;
    font-size: 5px;

}
.we .qw{
    flex-grow:1;
    min-height: 40px;
    background-color: blue;

}
.we .qw .tupian{
    margin: 0 auto;
    padding: 10px 0;
    width: 40px;
    height: 40px;
}
img{
    width: 40px;
    height: 40px;
}
.qwe{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    color: aliceblue;
}
