body{
margin: 0;
}
.tou .zuo{
    height: 200px;
    width: 50%;
    background-color: rebeccapurple;
    float: left;
}
.tou .you{
    height: 200px;
    width: 50%;
    background-color: rosybrown;
    float: right;  
}
.dao .yi{
    height: 200px;
    width: 12%;
    background-color: rosybrown;
    float: left;  
    margin-right: 0.25%;
    margin-left: 0.25%;
}
.dao .yi .er{
    margin-top: 6.5%;
    height: 45%;
    width: 100%;
    background-color: red;
}
.dao{
    height: 200px;
    width: 1280px;
    margin: 0 auto;
}
.tou{
    height: 200px;
    width: 1280px;
    margin: 0 auto;
}
.gun{
    height: 200px;
    background-color: goldenrod;
    width: 1280px;
    margin: 0 auto;
}